{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wifi QR code Generator</h1>

    {{form_start(form)}}
        {{form_start(form)}}
        <button type="submit">Generate QR code</button>
    {{form_end(form)}}
{% endblock %}